/*
    Defines all remaining styles for the Red Ball Pizza web page.

    Author: Huda Ahmed
    Date: 09/25/24
    File: other.css
 */

body{
    background-image: url("parlor.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: left;
}
header img{
    width: 100%;
}
nav.horizontal li {
    line-height: 3;
    padding-left: 10px;
}
main{
    border-left: 5px solid #9a1417;
    border-right: 5px solid #9a1417;
    padding: 12px;
    background-color: #f4f4f4;
}
.vertical ul>li{
    background-image: linear-gradient(to right, rgba(154, 20, 23, 1.00), rgba(255,0,0,0));
    border-radius: 3px;
    margin: 10px 0px;
    padding: 5px 0px 5px 10px;
}
.vertical{
    margin: 12px 0px 12px 12px;
}
.vertical ul>li>a{
    color: #f4f4f4;
}
#deals div{
    border: dashed #9a1417;
    margin: 10px;
}
#deals div h1{
    padding: 5px 0px;
}
#deals div p{
    padding: 0px 10px;
}
#deals div p:nth-child(3){
    font-weight: bold;
}
#deals div:nth-child(odd) {
  background: #e7e7e7;
}
#deals div:nth-child(even) {
  background: #fec1c6;
}
aside h1{
    font-weight: bold;
}
aside ul>li{
    border-radius: 10px;
    border: 3px solid #9a1417;
    margin: 12px;
    padding: 12px;
    box-shadow: 0px 0px 12px 0px #9a1417;
    background-image: linear-gradient(to left, #d37379, #dacaca);
}